UU_AUTHORIZATION=
UU_UK=
UU_DEVICE_UK=
UU_DEVICE_ID=
UU_COOKIE=
UU_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36
UU_MODE=sale
UU_PAGE_INDEX=1
UU_PAGE_SIZE=20
UU_LIST_SORT_TYPE=0
UU_SORT_TYPE=0
UU_WRITE_CACHE=0
UU_CACHE_DB=
UU_HEADERS_FILE=
UU_INCLUDE_RAW_KEYS=0
